footer {
  padding: 2em var(--padding-H);
}

.footer-content {
  /* padding: 2em 2em 1.8em 2em; */
  /* padding: 2em var(--padding-H); */
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: rgba(0, 0, 0, 0); */
  width: 100%;
  z-index: 100;
  /* flex-shrink: 0; */
}

footer h5 {
  margin: 0;
  font-size: 1.4rem;
  font-family: var(--header-font);
}
footer img {

   transition: all 0.3s ease;
  padding: 1.2em;
}
footer img:hover {

  transform: scale(1.5);

 
}
