.header {
  height: 40vh;
  color: #fff;
  display: flex;
  overflow: hidden; /* Prevent content overflow */
  background-color: #000000;
  background-image: var(--gradient-background-1);
  
}

.background-container {
  padding:  var(--padding);

  width: 100%;
display: flex;
justify-content: center;
align-items: center;
  background-image: url("../../Assets/oooscillate.svg");
  /* background-attachment: fixed; */
  background-position: center;
  background-repeat: repeat;
  background-size: cover;

  /* z-index: -99; */
}
/* 
.content {
  position: relative;
  z-index: 1;
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
} */
/* .header-title {
  font-size: 4rem;
} */
