nav {
  background: linear-gradient(
    90deg,
    rgba(9, 5, 16, 0.5) 0%,
    rgba(9, 5, 16, 0.609) 100%
  );
  /* mask: linear-gradient(black, black, transparent); */
  backdrop-filter: blur(30px);
  z-index: 99;
  position: fixed; 
  top: 0; 
  width: 100%;
  padding: 0 var(--padding-H);
}
.navbar-container {
  /* margin: 0 var(--padding-H); */
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: white;
}

.navbar ul li {
  display: inline;

  text-shadow: 1px 1px 17.4px rgba(19, 12, 16, 0.897);
}
.navbar ul a {
  text-decoration: none;
  color: #fff;
  font-weight: 400;
  padding: 14px 23px 10px 23px;
  border: 2px solid #ff3d7a00;
  /* font-family: "Julius Sans One", sans-serif; */
}
.navbar ul a:hover {
  /* color: transparent; 
  background-image: linear-gradient(93.51deg, #7ba1ff 0%, #ff5eef 100%);
  -webkit-background-clip: text;
  background-clip: text; */
  color: var(--token-primary-surface-default);
  text-shadow: 0px 30px 24px var(--token-primary-surface-default);
  cursor: pointer;

  transition: all 0.5s ease;
  border-bottom: 2px solid var(--token-primary-surface-default);
  /* border-width: 2px;
  border-style: solid;
  border-image: linear-gradient(93.51deg, #5786ff 0%, #ff4fed 100%) 0 0 80% 0; */
}

.navbar ul li:last-child {
  margin-right: 0;
}

.logo img {
  height: 40px;
  /* Adjust height as needed */
}

.menu {
  display: flex;
}

.menu-items {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu-icon {
  display: none; /* Hide menu icon by default */
  z-index: 100;
}
@media (min-width: 971px) {
  .navbar ul,
  .navbar li {
    display: inline !important;
    opacity: 1 !important;
    transform: initial !important;
  }
}

/* Media query for smaller screens */
@media (max-width: 970px) {
  .menu-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #333;

    background: rgba(15, 15, 15, 0.85);
    backdrop-filter: blur(12.75px);
  }

  .navbar ul li,
  .navbar ul li:last-child {
    display: block;
    margin: initial;
  }
  .navbar ul li {
    margin-bottom: 10px;
    text-align: center;
    width: 70%;
  }
  .navbar ul li a {
    display: block;
    padding: 1.5em 2em;
    background-color: #19191d;
    border: 1px solid white;
    width: 100%;
  }
  .navbar ul a:hover {
    color: white; /* Make the text transparent */
    background-image: linear-gradient(93.51deg, #7ba1ff 0%, #ff5eef 100%);
    -webkit-background-clip: initial;
    background-clip: initial;
    text-shadow: 1px 1px 17.4px rgba(19, 12, 16, 0.897);
    cursor: pointer;

    transition: all 0.5s ease;
    border: 1px solid white;
    border-image: none;
  }

  .menu-icon {
    display: block;
    cursor: pointer;
  }

  /* Hide menu icon when menu items are shown*/
  .menu-items.hide {
    opacity: 0;
  }
}
