.full-page-header {
  position: relative;
  height: 100vh;
  color: #fff;
  display: flex;
  overflow: hidden; /* Prevent content overflow */
}

.background-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../Assets/header-bg2.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -99;
}

.content {
  position: relative;
  z-index: 1;
  margin: 15% 0 0 8%; /* Adjust as needed */
}

.title-sub-1 {
  font-family: "Julius Sans One";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 44px;
  color: #ff3d7c;
}

.title-name {
  font-size: 96px;
}

.title-sub-2 {
  font-weight: 400;
  font-size: 24px;
  letter-spacing: 0.3em;
  color: #ff3d7c;
}

.full-page-header button {
  margin-top: 4em;
}

/* focus stuff */
#focus {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  padding: 20px;
}
#focus p {
  margin: 0;
}

/* aboout me */
#about {
  padding: 5% 0 5% 2%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 20px;
}
#about article {
  background-color: white;
  padding: 20px 40px;

  box-shadow: 2px 2px 22.1px rgba(191, 191, 191, 0.25);
  border-radius: 16px 0 0 16px;
}
#about img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
}

/* latest projects */
#sort-btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.sort-projects {
  /* Rectangle 25 */
  background: #000000;
  border: 1px solid #d3cfdc;
  border-radius: 100px;
  padding: 1em;
  margin: 0 1em 4em 1em;
  width: 200px;
  font-family: "Khula", sans-serif;
  font-weight: bold;
  background: linear-gradient(
    90deg,
    #1b1919 0%,
    #3e3939 50%,
    #ff4fed 50%,
    #414eca 97.5%
  );
  background-size: 200% 200%;
}
.sort-projects:hover {
  /* background: linear-gradient(98.87deg, #ff4fed -11.99%, #414eca 115.02%); */
  background-position: -100%;
}
#latest-projects {
  padding: 2em;
  /* background-image: url("../Assets/header-bg2.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
}
.projects-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#latest-projects h2 {
  margin-top: 0;
  text-align: center;
}
#latest-projects h3 {
  margin-top: 0;
}
#latest-projects img {
  width: 100%;
}

#latest-projects article {
  width: 90%;
  margin: auto;
  border-radius: 12px;

  box-shadow: 0px 4px 5.3px rgba(0, 0, 0, 0.74);
  border-radius: 12px;
}
#latest-projects article div {
  padding: 2em;
}
.project-hover {
  padding: 0;
  margin: 0;
  background-color: #000000;
  border: 0;
}
.num {
  font-size: 1.4em;
}
