.full-page-header {
  height: 100vh;
  background-image: url('../Assets/header-bg.jpg');
  background-size: cover; 
  background-position: center; 
  color: #fff; 
  display: flex;
}

.full-page-header h1 {
  margin: 0;
  /* font-size: 2.5rem; */
}



/* Header Title */
.full-page-header div {
  margin: 15% 0 0 8%;
}
.full-page-header div h1 {
  margin: 0.2em 0;
}
.title-sub-1 {
  /* Hello, I am */

  font-family: "Julius Sans One";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 44px;
  color: #ff3d7c;
}
.title-name {
  font-size: 96px;
}
.title-sub-2 {
  font-weight: 400;
  font-size: 24px;

  letter-spacing: 0.3em;

  color: #ff3d7c;
}
.full-page-header button {
  margin-top: 4em;
}

/* focus stuff */
#focus{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  padding: 20px;
  
}
#focus p{
margin: 0;
}

/* aboout me */
#about{
  padding: 5% 0 5% 2%;
  display: flex;
}
#about article{
  background-color: white;
  padding: 20px 40px;

box-shadow: 2px 2px 22.1px rgba(191, 191, 191, 0.25);
border-radius: 16px 0 0 16px;
}
#about img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
  margin-right: 30px;
  margin-left: 50px;

}