#Home .header {
  height: 100vh;
  color: #fff;
  display: flex;
  overflow: hidden; /* Prevent content overflow */
  background-color: #000000;
}

.header .content {
  width: 100%;
  text-align: left;
  height: auto;
  display: block;
}

/* .header .content {
  padding-top: 5vh;
} */
.title-sub-1 {
  font-family: var(--body-font);
  font-style: normal;
  font-weight: 300;
  font-size: clamp(0.9rem, 3vw + 0.5rem, 3rem);

  color: var(--color-Purple-100);
}

.title-name {
  font-size: clamp(2.9rem, 12vw + 1rem, 8rem);
  margin: 0;
}
.title-sub-2-container {
  margin-bottom: 3em;
}
.title-sub-2 {
  font-family: var(--body-font);
  font-size: clamp(0.9rem, 3vw + 0.5rem, 3rem);
  /* letter-spacing: 0.4em; */
  color: var(--color-Purple-100);
  font-weight: 300;
}
.button-container {
  display: flex;

  gap: 1em;
}

@media screen and (max-width: 720px) {
  .title-sub-1 {
    margin: 0;
  }
  /* .header .content {
    padding-top: 15vh;
  } */
}
@media screen and (max-width: 590px) {
  .header .content h1 {
    text-align: center;
  }
  #Home .content {
    margin: 10% auto;
    text-align: center;
  }
  .title-sub-2 {
    display: block;
    text-align: center;
    /* color: white; */
    /* letter-spacing: 0.2em; */
  }
  .button-container {
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
  }
  .title-sub-2:not(:first-of-type) {
    margin-left: auto;
  }
}
/* focus stuff */
#focus {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  padding: 20px;
}
#focus p {
  margin: 0;
}

/* aboout me */
.star-list {
  width: 1.3em;
}

#about .about-container {
  /* padding: 5% 0 5% 2%; */
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: stretch;

  gap: 20px;
  /* padding-right: 0; */
  align-items: center;
  margin-bottom: 1em;
}
#about article {
  /* background-color: white; */
  padding: 20px 40px;
  /* box-shadow: 2px 2px 22.1px rgba(191, 191, 191, 0.25); */
  border-radius: 16px;
}
.feature-list h3 {
  /* color: var(--gold);
  text-shadow: 0px 0px 8.2px rgba(0, 0, 0, 0.14); */
  color: black;

  font-family: "Kaisei Decol";
  font-style: normal;
  font-weight: bold;
  font-size: 1.1em;
  line-height: 35px;
  margin: 0;
}
.feature-list {
  display: flex;
  justify-content: center;
}

.unique-list {
  background-color: white;
  padding: 20px 40px;
  box-shadow: 2px 2px 22.1px rgba(191, 191, 191, 0.25);
  border-radius: 16px;
}
.feature-icon-text {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1em;
}

.feature-list.img-text {
  align-items: baseline;
}

.feature-list-icon {
  max-width: 100px;
}
.feature-list .star-list {
  width: 15px;
}
.me-pic {
  width: 100%;
  /* max-height: 310px; */
  aspect-ratio: 1;
  /* height: auto; */
  object-fit: cover;
  border-radius: 16px;

  display: flex;
  align-items: center; /* Center content vertically */
  justify-content: center; /* Center content horizontally */
}

/* ----------------------------------explore more projects---------------------------------- */
/* #explore-projects {
  padding: 4em 2em;
} */
#explore-projects h2 {
  margin-top: 0;
  text-align: center;
}
#explore-projects button {
  display: block;
  color: white;
  width: 100%;
  font-size: 1.3rem;
  height: 6em;
  margin: 1em 0;
  padding: 0;
  box-shadow: 2px 2px 22.1px rgba(191, 191, 191, 0.25);
  border: none;
  border-radius: 15px;
}
#explore-projects button div {
  /* transition: backdrop-filter 0.5s ease; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  margin: 0;
  border-radius: 15px;

  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.95) 0%,
    rgba(93, 93, 93, 0.95) 100%
  );
  backdrop-filter: blur(5.15px);
  width: 100%;
  height: 100%;
}
#explore-projects button div:hover {
  background: linear-gradient(
    85.18deg,
    rgba(229, 111, 232, 0.86) 23.29%,
    rgba(87, 134, 255, 0.86) 85.02%
  );
  backdrop-filter: blur(0);
  filter: drop-shadow(0px 4px 17.7px rgba(0, 0, 0, 0.37));
}
#uiux-btn {
  background-image: url("../Assets/btn-uiux.jpg");

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#dev-btn {
  background-image: url("../Assets/btn-dev.jpg");

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#artdes-btn {
  background-image: url("../Assets/btn-art.jpg");

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#explore-projects img {
  width: 2em;
  stroke: white;
}
/* ----------------------------------contact me---------------------------------- */

#contact-me h2 {
  margin-top: 0;
  text-align: center;
}

/* ----------------------------------reppnsive---------------------------------- */
@media screen and (min-width: 1071px) {
  #latest-projects .featured {
    grid-column: 1/4;
  }
  #latest-projects .featured article {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-auto-flow: dense;
  }
  #latest-projects .featured img {
    grid-column: 2/4;
    aspect-ratio: auto;
    border-radius: 0 12px 12px 0;
  }
}
@media screen and (max-width: 1070px) {
  .projects-grid {
    grid-template-columns: 1fr 1fr;
  }
  #latest-projects .featured {
    grid-column: 1/3;
  }
  #latest-projects .featured article {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
  #latest-projects .featured img {
    grid-column: 2/3;
    aspect-ratio: auto;
  }
  #latest-projects .featured div {
    grid-column: 1/2;
    grid-row: 1/2;
  }
}
@media screen and (max-width: 1000px) {
  .feature-list .col-2 {
    grid-template-columns: 1fr;
  }
  /* .feature-icon-text.even .feature-list-icon {
    grid-column: 2/3;
  }
  .feature-icon-text.even div {
    grid-row: 1/2;
  } */
}

@media screen and (max-width: 920px) {
  #about {
    padding: 5% 2%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }
  #about article {
    border-radius: 16px;
  }
}

@media screen and (max-width: 800px) {
  #about .about-container {
    grid-template-columns: 1fr;
  }
  .about-container img {
    max-width: 300px;
    margin: auto;
  }
}

@media screen and (max-width: 580px) {
  #focus {
    display: block;
  }
  #focus div {
    margin: 1.4em auto;
  }
}

@media screen and (max-width: 336px) {
  .unique-list {
    padding: 20px 30px;
  }
}
