:root {
  --proj-padding: 3em;
}
/* general proj */
.proj article span {
  font-weight: bold;
}
.proj-for .divider {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 2em;
}
.proj-rev .divider {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 2em;
}
.proj-rev h2 {
  text-align: center;
}
.btn-group {
  text-align: center;
}
.proj button {
  margin: 0 1em;
  width: 200px;
}
.proj-for img {
  grid-column: 2/3;
}
.proj-for article {
  grid-column: 1/2;
  grid-row: 1;
}

@media screen and (max-width: 960px) {
  .proj .divider {
    display: block;
  }
  #projects h2 {
    text-align: center;
  }
}
