/* ----------------------------------------------projects---------------------------------------------- */
/* #latest-projects {
  padding: 2em;
  background-image: url("../Assets/header-bg2.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} */

/* #ProjectList .header {

  background-image: var(--gradient-background-2);
  transition: all 0.5s ease-in-out;

} */

.projects-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  margin-bottom: 20px;
}
.projects-grid a {
  text-decoration: none;
}
#latest-projects h2 {
  text-align: center;
}
#latest-projects h3 {
  margin: 0;
}

.project-card {
  width: 100%;
  height: 100%;
  margin: auto;

  box-shadow: 0px 4px 5.3px rgba(0, 0, 0, 0.74);
  border-radius: var(--token-border-radius-l);
    transition: all 0.2s ease-in-out;
  background: var(--token-secondary-surface-default);
}
.project-card  div {
  padding: 1em 1.5em 1.5em 1.5em;
}

/* #latest-projects article button {
    width: 100%;
  } */
#latest-projects img {
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
  border-radius: var(--token-border-radius-l) var(--token-border-radius-l) 0 0;
  background: rgba(var(--token-secondary-surface-default), 0.2);
  mix-blend-mode: luminosity;
}

/* on hover */
/* #latest-projects article:hover {
  transform: scale(1.03);
  position: relative;
  border: 1px solid var(--token-secondary-border-lighter);
  z-index: 98;
  box-shadow: var(--glow-shadow);
} */

#latest-projects article:hover img {
  /* mix-blend-mode: multiply; */
  background: rgba(var(--token-secondary-surface-default), 0.9);
  mix-blend-mode: normal;
}
/*  */
.project-hover {
  padding: 0;
  margin: 0;
  background-color: var(--dark-bg2);
  border: 0;
  border-radius: 12px 12px 0 0;
}
.num {
  font-size: 1.4em;
  color: var(--token-primary-surface-lighter);
}
/* ----------------project tags--------------- */
.proj-tags {
  display: flex;
  flex-wrap: wrap;
  margin: 0.5em 0;
  padding: 0 !important;
}
.proj-tag {
  display: inline-block;
  padding: 0.2em 0.5em;
  margin: 5px 5px 0 0;
  background-color: var(--token-primary-surface-lighter);
  border-radius: var(--token-border-radius-full);
  color: var(--color-Gray-900);
  /* font-weight: bold; */
}
/* ------------------sort buttons------------------ */
#sort-btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
   /* width:max-content; */
  /* overflow-x: scroll; */
}

/* #latest-projects {
  width: 100%;
} */
.sort-desc {
  font-weight: 400;
  margin: 2em;
}
.sort-projects {
  text-align: center;

  line-height: normal;
  border: 1px solid var(--token-secondary-surface-lighter);
  border-radius: 100px;
  padding: 0.5em 1em;
  margin: 0.7em;
  min-width: 100px;
  width:max-content;
  box-sizing: border-box;
  /* font-family: "Julius Sans One", sans-serif; */
  font-weight: bold;

  cursor: pointer;
  display: inline-block;
  transition: all 0.2s ease-in-out;
}
/* Style for active and hover states */
.sort-projects:hover {
  border: 1px solid var(--token-primary-surface-default);
  /* background-color: var(--token-secondary-surface-default); */
}
.sort-projects-active {
  background: var(--token-primary-surface-default);
}

/* Hide the radio buttons */
.sort-projects input[type="radio"] {
  display: none;
}

/* ---------------featured projects--------------- */
#latest-projects .featured article {
  /* border: 2px #D79736 solid; */
  /* border-radius: 12px; */
  border: double 2px transparent;
  border-radius: 12px;
  background-image: linear-gradient(var(--dark-bg2), #17171c),
    linear-gradient(to right, #bf510f, gold);
  background-origin: border-box;
  background-clip: content-box, border-box;
}
#latest-projects .featured {
  max-height: 500px;
}
#latest-projects .featured img {
  max-height: 100%;
}
.featured-txt {
  color: var(--gold);
  margin: 0;
}
#latest-projects article .img-text {
  padding: 0;
}
.star-img {
  width: 12px !important;
  object-fit: initial !important;
  margin-bottom: 4px;
  margin-right: 2px;
}

@media screen and (max-width: 1300px) {
  .projects-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
}

@media screen and (min-width: 830px) {
  #latest-projects .featured img {
    border-radius: 0 12px 12px 0;
    height: 100%;
  }
}

@media screen and (max-width: 830px) {
  .projects-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }
  #latest-projects .featured {
    grid-column: 1/2;
  }
  #latest-projects .featured article {
    display: grid;
    grid-template-columns: 1fr;
  }
  #latest-projects .featured img {
    grid-column: 1/2;
    aspect-ratio: auto;
  }
  #latest-projects .featured div {
    grid-column: 1/2;
    grid-row: 2/3;
  }
}
@media screen and (max-width: 485px) {
  .feature-icon-text {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 1em;
  }
  .feature-icon-text p {
    text-align: center;
  }
  .feature-icon-text .img-text {
    justify-content: center;
  }
}
