#projectidv {
  background-color: var(--token-secondary-surface-default);
}
.footer-space{
  margin-bottom: 3em;
}
#projectidv .btn-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 4em;
}
#projectidv h1 {
  font-size: 2.7em;
  /* color: var(--); */
}
#projectidv h4{
  color: var(--token-primary-surface-lighter);
}


#project-content{
  padding: var(--padding-H);
  z-index: 5;
  width: 100%;
}



.special-heading {
  background-color: var(--token-secondary-surface-lighter) !important;
}
.special-heading h2 {
  color: white;
}

.action-btn {
  display: flex;
  margin: 10px;
  align-items: center;
  justify-content: center;
}

.action-btn span {
  display: block;
  width: 200px;
  margin: 10px;
}
.proj-thumb {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height: 400px;
}

.proj-header {
  position: absolute;
  width: 100%;
  height: 110vh;

  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat;
  background-size: cover;

  z-index: 1;
}
.proj-header div {
  width: 100%;
  height: 100%;
  /* background: linear-gradient(
    360deg,
    rgba(148, 28, 67, 0.82) 0%,
    rgba(0, 0, 0, 0.74) 100%
  ); */

  background: linear-gradient(
    360deg,
    var(--token-secondary-surface-default) 0%,
    rgba(103, 9, 60, 0.57) 100%
  );
}

.proj-icon{
  stroke: rgb(0, 225, 225);
}

.proj-info {
  background-color: var(--token-secondary-surface-default);
  width: 100%;
  border-radius: 19px;
  margin: 30vh auto 0em auto;
  padding: 2em 6vw 2em 6vw;
  z-index: 5;
}
.proj-more-info {
  z-index: 5;
  margin-bottom: 5em;
}
.pi-after {
  margin: 1em auto 0em auto;
}
.pi-after .primary-button {
  margin-bottom: 4em;
}
/* .proj-info:last-of-type {
  margin-bottom: 5em;
} */
.proj-info h2 {
  margin-top: 0;
}

.proj-info-btn {
  display: flex;
  width: fit-content;
  margin: auto;
}

@media screen and (max-width: 700px) {
  .proj-info.main {
    width: 100%;
    margin: 10em auto 2em auto;
  }
  .proj-info {
    width: 100%;
    margin: 0em auto 2em auto;
  }
  .proj-header {
    position: absolute;
  }
}
