#resume-content {
  padding: 5%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 15px;
  background-image: url("../Assets/test.svg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
}
#summary,
#exp,
#edu,
#skills {
  border-radius: 16px;
  padding: 0.4em 1.1em;
  background-color: rgb(255, 255, 255);

  box-shadow: 2px 2px 22.1px rgba(191, 191, 191, 0.25);
}
#edu h2,
#skills h2 {
  text-align: center;
}
#summary {
  display: flex;
  align-items: center; /* Vertically center */
}

#resume-content img {
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
  aspect-ratio: 1;
}
#summary {
  grid-column: 2/5;
}
#exp {
  grid-column: 2/5;
  grid-row: 2/4;
}
#edu {
  grid-column: 1/2;
  grid-row: 2;
}

.exp-sep {
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.date {
  grid-column: 3/4;
}
.exp-sep div {
  grid-column: 1/3;
  grid-row: 1;
}
@media screen and (max-width: 1040px) {
  #resume-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 3%;
  }
  #resume-content img,
  #summary,
  #exp {
    grid-column: 1/4;
    grid-row: auto;
  }

  #edu,
  #skills {
    grid-column: auto;
    grid-row: auto;
  }
  #skills {
    grid-column: 2/4;
  }
  #resume-content .center-text {
    text-align: left;
  }
  #resume-content img {
    height: auto;
    object-fit: cover;
    border-radius: 16px;
  }
  #skills {
    align-items: center;
    justify-content: center;
  }
  #skills-div {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  #skills .center-text,
  #skills h2,
  #edu h2,
  #edu .center-text {
    text-align: center;
  }
}

@media screen and (max-width: 830px) {
  .exp-sep {
    display: block;
  }
}

@media screen and (max-width: 720px) {
  #resume-content {
    display: grid;
    grid-template-columns: 1fr;
  }
  #resume-content img,
  #summary,
  #exp,
  #edu,
  #skills {
    grid-column: auto;
    grid-row: auto;
  }
}
@media screen and (max-width: 420px) {
  #skills-div {
    display: block;
  }
}
