@import url("https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Kaisei+Decol&family=Khula:wght@300;400;600;700;800&display=swap");
/* General */
body {
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Khula", sans-serif;
  font-weight: 400;
  font-style: normal;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
* {
  box-sizing: border-box;
}
/* Font stuff */
h1 {
  font-family: "Julius Sans One", sans-serif;
}
h2,
h3,
h4 {
  font-family: "Kaisei Decol", serif;
}

/* Button */
button {
  background: linear-gradient(90deg, #000000 0%, #666666 100%);
  border: 1px solid #979797;
  box-shadow: 0px 4px 10.2px rgba(0, 0, 0, 0.38);
  backdrop-filter: blur(6.2px);
  border-radius: 4px;
  font-family: "Julius Sans One", sans-serif;
  color: white;
  transition: ease-in 1s;
}
button:hover {
  background: linear-gradient(98.87deg, #ff4fed -11.99%, #414eca 115.02%);
}
